Repository colincode7/create-t3-app, changes with the labels that .github/labeler.yml gives for each.
All labels: area: cli, area: t3-app, documentation

.github/labeler.yml:

"area: cli":
  - any: ["cli/src/**"]

"area: t3-app":
  - any: ["cli/template/**"]

"documentation":
  - any: ["www/**", "**/*.md"]

chore: update to alpha 69 (#398)
  cli/src/installers/index.ts
  cli/template/addons/trpc/auth-server-utils.ts
  cli/template/addons/trpc/server-utils.ts
  cli/template/page-studs/index/with-auth-trpc-tw.tsx
  cli/template/page-studs/index/with-auth-trpc.tsx
  cli/template/page-studs/index/with-trpc-tw.tsx
  cli/template/page-studs/index/with-trpc.tsx
Labels: area: cli, area: t3-app

chore: proxy-alpha.70 (#401)
  cli/src/installers/index.ts
  cli/template/addons/trpc/utils.ts
Labels: area: cli, area: t3-app

refactor(cli): avoids big code blocks (#407)
  cli/src/cli/index.ts
Labels: area: cli

chore: Next merge 2022 09 08 (#409)
  README.md
  cli/CHANGELOG.md
  cli/package.json
  cli/src/helpers/git.ts
  cli/template/base/README.md
  cli/template/base/next.config.mjs
  cli/template/base/src/env/schema.mjs
  www/src/pages/en/deployment/docker.md
Labels: area: cli, area: t3-app, documentation

chore: bump next to 12.3
  cli/template/base/package.json
Labels: area: t3-app

fix: revert version bump
  cli/template/base/package.json
Labels: area: t3-app

feat: active authshowcase for prisma
  cli/src/helpers/selectBoilerplate.ts
Labels: area: cli

feat: better cli text when scaffolding in '.' (next) (#461)
  .changeset/tall-pans-dream.md
  cli/src/helpers/logNextSteps.ts
  cli/src/helpers/scaffoldProject.ts
Labels: area: cli

feat: v10 beta (#483)
  cli/src/installers/index.ts
Labels: area: cli

fix: temp pin next-auth to 4.10 due to peer deps (next) (#505)
  cli/src/installers/index.ts
Labels: area: cli

bump trpc (#532)
  cli/src/installers/index.ts
Labels: area: cli
